<div id="elkButtonsContainer" class="buttons-block position-b150px-r10px">
    <span onclick="shiftFixedBlock(this.parentNode)" class="buttons-span"> -</span>
    <div class="params-block">
        <svg onclick="shiftFixedBlock(document.getElementById('elkDataPanelContainer'))" style="cursor: pointer" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="currentColor"
             class="css-sr6nr">
            <path d="M19,5.5H12.72l-.32-1a3,3,0,0,0-2.84-2H5a3,3,0,0,0-3,3v13a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V8.5A3,3,0,0,0,19,5.5Zm1,13a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5.5a1,1,0,0,1,1-1H9.56a1,1,0,0,1,.95.68l.54,1.64A1,1,0,0,0,12,7.5h7a1,1,0,0,1,1,1Z"></path>
        </svg>
        <span>Информация о подгруженных логах</span><br><br>
    </div>
    <label for="offsetValue" style="color: white; margin: 0 auto">Шаг поиска (мс)</label>
    <select name="offsetValue" id="offsetValue" style="margin-bottom: 10px;">
        <option value="20"></option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="30">40</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="300">300</option>
        <option value="1000">1000</option>
        <option value="10000">10 000</option>
        <option value="15000">15 000</option>
    </select>
    <button type="submit" onclick="wrapUnwrapAllMessagesByWords()">Показать/скрыть ВСЕ запросы/ответы</button>
    <input style="color: white;" type="checkbox" id="excludeAuditLogs" class="kibana-checkbox">
    <span class="kibana-checkbox-label"> Искл. логи аудита</span>
    <input onclick="navigationThreadLogsHandler('key', this.checked)" style="color: white;" type="checkbox"
           id="excludeLogsWithoutKeyCheckBox" class="kibana-checkbox">
    <span class="kibana-checkbox-label"> Оставить только потоки с ключами</span>
    <input onclick="navigationThreadLogsHandler('error', this.checked)" style="color: white;" type="checkbox"
           id="excludeNotErrorLogs" class="kibana-checkbox">
    <span class="kibana-checkbox-label"> Оставить только логи с ошибкой</span>
    <button class="btn btn-primary" color="#cddeec" type="submit" id="hideLargeLogs" onclick="hideLargeLogs()">Скрыть
        тяжеловесные логи
    </button>
    <button class="btn btn-primary" color="#cddeec" type="submit" id="btnMarkSingleThreadLogs"
            onclick="detectEqualThreadLogs()">Отметить однопоточные логи
    </button>
    <button class="btn btn-primary" color="#cddeec" type="submit" id="btnAnalyzeElkLogsError">Анализ ошибок</button>
    <p style="margin: 0 auto;">Навигация</p>
</div>