<div id="elkDataPanelContainer" class="buttons-block-data-panel shift-fixed-right">

    <span class="span-info-header">Данные по сервисам: </span>
    <div class="params-block">
        <span class="kibana-checkbox-label">applicationservice: </span><span class="attribute-value">10 логов</span>
    </div>
    <div class="params-block">
        <span class="kibana-checkbox-label">slingservice: </span><span class="attribute-value">25 логов</span>
    </div>
    <div class="params-block">
        <span class="kibana-checkbox-label">searchstoreservice: </span><span class="attribute-value">12 логов</span>
    </div>
    <div class="params-block">
        <span class="kibana-checkbox-label">uiproxy: </span><span class="attribute-value">5 логов</span>
    </div>




</div>