<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Нет процесса</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <script src="/js/jquery.js"></script>
 </head>
 <body>
  <div class="alert alert-danger" role="alert">
  По заявке <%= appnum%> нет действующего процесса!
  </div>
 <p><font size="05" color="black">Введите другой номер заявки!</p>
 </body>
</html>


