<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Поиск заявок с зависшими тасками РКК 2.0</title>
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <script src="/public/jquery.js"></script>
  <script src="/public/bootstrap.min.js"></script>
     <style type="text/css">
  .longtext {

      word-wrap: break-word;
      width: 900px;

    }

        body {
    
    background: #2F4F4F;
    color: #BC8F8F; 

    }

  </style>
 </head>
 <body>
  

<div class="dropdown" id="Scheme_search">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Схема поиска
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Выдачи</button>
    <button class="dropdown-item" type="button">Оформление документов</button>
    <button class="dropdown-item" type="button">CALL2</button>
  </div>























  <script>



    function hide() {

      var elem = document.getElementById("#tohide");
      if (elem.style.display === "none") {


        elem.style.display = "block";
      } else {

        elem.style.display = "none";
      }

    }

      function hide2() {

      var elem = document.getElementById("#t1");
      if (elem.style.display === "none") {


        elem.style.display = "block";
      } else {

        elem.style.display = "none";
      }

    }


             function hide3() {

      var elem = document.getElementById("#tapp");

      var btn_hide = document.getElementById("#bhidet2");

      var btn_show = document.getElementById("#bshowt2");
      
      if (elem.style.display === "none") {


        elem.style.display = "block";
        btn_show.style.display = "none";
        btn_hide.style.display = "block";


      } else {

        elem.style.display = "none";
        btn_show.style.display = "block";
        btn_hide.style.display = "none";


      }

    }

         function hide4() {

      var elem = document.getElementById("#tkk");

      var btn_hide = document.getElementById("#bhideсс");

      var btn_show = document.getElementById("#bshowсс");
      
      if (elem.style.display === "none") {


        elem.style.display = "block";
        btn_show.style.display = "none";
        btn_hide.style.display = "block";


      } else {

        elem.style.display = "none";
        btn_show.style.display = "block";
        btn_hide.style.display = "none";


      }

    }


     function hide5() {

      var elem = document.getElementById("#terr");

      var btn_hide = document.getElementById("#bhiderr");

      var btn_show = document.getElementById("#bshowerr");
      
      if (elem.style.display === "none") {


        elem.style.display = "block";
        btn_show.style.display = "none";
        btn_hide.style.display = "block";


      } else {

        elem.style.display = "none";
        btn_show.style.display = "block";
        btn_hide.style.display = "none";


      }

    }

       function hide6() {

      var elem = document.getElementById("#terr2");

      var btn_hide = document.getElementById("#bhiderr2");

      var btn_show = document.getElementById("#bshowerr2");
      
      if (elem.style.display === "none") {


        elem.style.display = "block";
        btn_show.style.display = "none";
        btn_hide.style.display = "block";


      } else {

        elem.style.display = "none";
        btn_show.style.display = "block";
        btn_hide.style.display = "none";


      }

    }


        function showlongtext() {

      var elem = document.getElementsByClassName('longtext');

      for (let i=0; i < elem.length; i++)

      {

      if (elem[i].style.display === "none") {


        elem[i].style.display = "block";
      } else {

        elem[i].style.display = "none";
      }

    }
  }

       function showlongerr() {

      var elem = document.getElementsByClassName('longerr');

      for (let i=0; i < elem.length; i++)

      {

      if (elem[i].style.display === "none") {


        elem[i].style.display = "block";
      } else {

        elem[i].style.display = "none";
      }

    }
  }


     function showlongerr2() {

      var elem = document.getElementsByClassName('longerr2');

      for (let i=0; i < elem.length; i++)

      {

      if (elem[i].style.display === "none") {


        elem[i].style.display = "block";
      } else {

        elem[i].style.display = "none";
      }

    }
  }




  






  </script>


 </body>
</html>


