<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>RKK Adminkey</title>
  <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon2.ico">
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/main-styles.css">
  <script src="/public/js/jquery-3.4.1.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/support-script.js"></script>

 </head>
 <body>
<div class="headlabel-dummy">
<h1>RKK Adminkey</h1>
</div>

<div class="dimmer">
  
  <div class='container'>

    <div class='loader'>
      <font size="5px">Ожидание выполнения: получение данных по заявке...</font>
      <font size="3px">Просьба не перезагружать страницу это увеличит время сбора данных</font>
      <div class='spinner-simple'>

      </div>

    </div>

  </div>

</div>

<script src="/public/js/async-request.js"></script>



 </body>

</html>


