<button id="getELKlogs" class="btn btn-dark" role="button" style="margin-bottom: 15px; margin-bottom: 2px;
        position: relative;">Получить логи из Kibana по заявке за время перехода статуса</button>