<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">RKK Adminkey</a>

        <ul id="nav-mobile" class="right hide-on-med-down">

            <li><a>Зависания</a></li>
            <li><a>Ошибки</a></li>
        </ul>
    </div>
</nav>